<div class='min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8'>
    <div class='max-w-md w-full space-y-8'>
        <div>
            <h2 class='mt-6 text-center text-3xl font-extrabold text-primary'>Sign in to your account</h2>
        </div>
        <form class='mt-8 space-y-6' method='POST'>
            <input type='hidden' name='remember' value='true' />
            <div class='rounded-md shadow-sm space-y-4'>
                <div>
                    <label for='email' class='block text-sm font-medium'>Email</label>
                    <div class='mt-1'>
                        <input
                            type='email'
                            name='email'
                            id='email'
                            class='input input-bordered
                                {{ternary (keyExist errors "email") "input-error" "input-primary"}}
                                w-full focus:outline-none'
                            placeholder='you@example.com'
                            required='true'
                        />
                    </div>
                </div>
                <div>
                    <label for='password' class='block text-sm font-medium inp'>Password</label>
                    <div class='mt-1'>
                        <input
                            type='password'
                            name='password'
                            id='password'
                            class='input input-bordered input-primary w-full focus:outline-none'
                            placeholder='secret'
                            required='true'
                        />
                    </div>
                </div>

            </div>
            <div>
                <button class='btn btn-primary gap-2 capitalize w-full' type='submit'>
                    Log In
                    <svg
                        class='h-5 w-5 text-primary-content'
                        xmlns='http://www.w3.org/2000/svg'
                        viewBox='0 0 20 20'
                        fill='currentColor'
                        aria-hidden='true'
                    >
                        <path
                            fill-rule='evenodd'
                            d='M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z'
                            clip-rule='evenodd'
                        ></path>
                    </svg>
                </button>
            </div>
        </form>
    </div>
</div>
